:root {
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
}

/* When font smoothing is enabled */
:root[data-font-smoothing='true'] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Override Mantine's font smoothing on body */
body {
  -webkit-font-smoothing: unset !important;
  -moz-osx-font-smoothing: unset !important;
  margin: 0;
  padding: 0;
}
